.btn{
    border: 1px solid #6b727a;
    background: #dadfe8;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 5px 0px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Poppins', sans-serif;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}
.next, .previous{
    color: #6b727a;
}
.next:hover, .previous:hover{
    color: #FFFFFF;
    background: #6b727a;
}

