@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
:root{
    --cor00:#201b2c;
    --cor02:#808080;
    --cor03:#808080;
    --cor04:white;
    --cor05:black;
    --cor06:black;
    --corsombra: #4F4F4F;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #dadfe8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda-login{
    width: 50vw;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.esquerda-login > h1{
    color: black ;
    font-size: 2vw;
    
}
.direita-login{
    width: 50vw;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: var(--cor02);
    border-radius: 20px;
    box-shadow: 0px 10px 40px var(--corsombra) ;
}
.card-login > h1{
    color: black;
    font-weight: 800;
    margin: 0;
}
.campo-texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: center;
    margin: 10px 0px;
}
.campo-texto > input{
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--cor04);
    color: var(--cor05);
    outline: none;
    box-sizing: border-box;

}
.campo-texto > input::placeholder{
    color: var(--cor06);
}
.campo-texto > label{
    color: var(--cor05);
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #4F4F4F;
}
.btn-login:hover{
    color: black;
    background-color: #dadfe8;
    box-shadow: none;
}
.esquerda-img{
    width: 300px;
}
@media only screen and  (max-width:950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and  (max-width:600px){
    body{
        font-size: 10px;
    }
    .campo-texto > input{
        width: 100%;
        border: none;
        border-radius: 15px;
        padding: 10px;
        background-color: var(--cor04);
        color: var(--cor05);
        outline: none;
        box-sizing: border-box;
        font-size: 10px;
    }
    .btn-login{
        width: 80%;
        padding: 8px 0px;
        margin: 5px;
        margin-bottom: 20px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0px;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #4F4F4F;
    }
    .main-login{
        flex-direction: column;
    }
    .esquerda-login > h1{
        display: none;
    }
    .esquerda-login{
        width: 80%;
        height: auto;
    }
    .direita-login{
        width: 100%;
        height: auto;
    }
    .esquerda-img{
        width: 200px;
        margin-bottom: 20px;
    }
}
